<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <form method="post" th:action="@{/}" th:object="${newUser}">
        <div>
            <input type="text" name="name"/>
            <label th:for="name">Name</label>
        </div>
        <div>
            <input type="text" name="email"/>
            <label th:for="email">Email</label>

        </div>
        <div>
            <input type="number" name="age"/>
            <label th:for="age">Age</label>
        </div>
        <div><input type="submit" th:value="Save"></div>
    </form>
</div>

<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}"/>
            <td th:utext="${user.getName()}"/>
            <td th:utext="${user.getEmail()}"/>
            <td th:utext="${user.getAge()}"/>
            <td><a class="btn btn-success" th:href="@{/{id}(id=${user.getId()})}">edit</a></td>
            <td><a class="btn btn-warning" th:href="@{/delete/{id}(id=${user.getId()})}">delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>